/*font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.card {
    margin: 30px auto;
    padding: 0 30px;
}

.grid {
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.left {
    padding: 30px 30px;
}

.item {
    letter-spacing: 5px;
    font-family:  'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right:  80px;
    font-family: 'Fraunces', serif;
}

.description {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    line-height: 25px;
    padding-right: 50px;
}

.prices {
    align-items: center;
    display: flex;
    padding: 30px 0px;
}

.org-price {
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    text-decoration: line-through;
    color:  hsl(228, 12%, 48%);
}

.sale-price {
    font-family: 'Fraunces', serif;
    font-size: 30px;
    color: hsl(158, 36%, 37%);
}

.img img {
    max-width: 100%;
    display: inherit;
}

button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: hidden;
}

button:hover {
   background-color: hsl(158, 73%, 12%);
}

.cart img {
    padding: 0px 10px;
}

@media only screen and (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .img img  {
        max-height: 450px;
        width: 100%;
        object-fit: cover;
    }
}